<!-- <div class="container.fluid bg-secondary text-center p-5 row">
    <div class="d-flex justify-content-center">
        <form [formGroup]="formInfo" class="row col-4 g-2" (ngSubmit)="valueFromInputs()">
            <input type="text" formControlName="image" placeholder="image">
            <input type="text" formControlName="model" placeholder="model">
            <input type="date" formControlName="yearproduction" placeholder="yearproduction">
            <input type="text" formControlName="fueltype" placeholder="fueltype">
            <input type="text" formControlName="numberofseats" placeholder="numberofseats">
            <input type="text" formControlName="price" placeholder="price">
            <button class="btn btn-warning" (click)="valueFromInputs">Submit</button>
        </form>
    </div>
</div> -->
